.bookCardsContainer {
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 20px;
}

.paginationContainer {
    background-color: #4d6368;
    position: fixed;
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 10px 0;
    bottom: 0;
}

@media (max-width: 800px) {
    .bookCardsContainer {
        grid-template-columns: auto;
    }
}
