.container {
    font-family: 'Fira Sans', sans-serif;
    width: 360px;
    height: 240px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid #1e444e;
    margin: 20px;
    color: #1e444e;
    padding: 5px;
}
.title {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 5px;
    text-align: center;
}

.author {
    font-size: 18px;
    font-weight: 400;
}

.detailsContainer {
    display: flex;
}

.detailsContainer p, .pages {
    margin: 10px;
    font-size: 18px;
    font-weight: 400;
}
